{
    "extends": ["react-app", "airbnb"],
    "rules": {
        "indent": [2, 4],
        "no-underscore-dangle": [0],
        //TODO: update file names with jsx
        "react/jsx-filename-extension": [0],
        "react/jsx-first-prop-new-line": [2, "multiline-multiprop"],
        "react/jsx-indent": [2, 4],
        "react/jsx-indent-props": [2, 4],
        //TODO: add prop-types
        "react/prop-types": [0],
        "react/state-in-constructor": [0]
    }
}
