{
    "extends": [
        "react-app",
        "airbnb"
    ],
    "rules": {
        "react/state-in-constructor": [0],
        //TODO: update file names with jsx
        "react/jsx-filename-extension": [0],
        //TODO: add prop-types
        "react/prop-types": [0],
        "no-underscore-dangle": [0],
        "indent": [2, 4],
        "react/jsx-indent": [2, 4],
        "react/jsx-indent-props": [2, 4],
        "react/jsx-first-prop-new-line": [2, "multiline-multiprop"],
        "object-curly-newline": ["error", { "consistent": true }]
    }
}